* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --myBlue: #0084fd;
    --myViolet: #9792e4;
}

html {
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}


a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

p,
blockquote {
    line-height: 160%;
}

header {
    background-color: var(--myBlue);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.header-container {
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    display: none;
}

header i {
    color: white;
    font-size: 24px;
}

.container {
    padding-block: 4em;
    display: flex;
    flex-direction: column;
    margin-inline: 2.5em;
    row-gap: 1em;
}

.features .container {
    margin-top: 3.5em;
    padding-top: 5.5em;
}

.card {
    background-color: #b5ddff;
    border-radius: 20px;
    padding-top: 2em;
    padding-inline: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: center;
    text-align: center;
    flex-grow: 0;
}

.card a {
    background-color: var(--myBlue);
    padding-block: 0.7em;
    border-radius: 20px;
    font-weight: bold;
}

.card .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2em;
}

.card .text a {
    width: 50%;
    align-self: center;
    letter-spacing: 0.15em;
}


.card h2 {
    color: var(--myBlue);
    word-break: keep-all;
    max-width: 95%;
    overflow-x: hidden;
}

.card p {
    color: #5a6e7f;
    font-weight: bold;
}

.card>i {
    font-size: 6rem;
    color: var(--myBlue)
}

.card:not(.big) p {
    padding-bottom: 2em;
}

.planning {
    background-color: var(--myViolet);
    text-align: center;
    padding-block: 1.5em;
}

.planning .row-top,
.planning .row-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

.planning .row-top {
    color: white;
}



.planning .row-bottom {
    background-color: white;
    border-radius: 60px;
    align-items: center;
    padding: 1em;
}

.planning .row-bottom p {
    font-style: italic;
    text-align: center;
    width: 80%;
}

.planning .row-bottom>div {
    background-color: var(--myViolet);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    z-index: 0;
}

.planning .row-bottom i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2rem;
    transform: translate(-50%, -50%);
}


.planning .row-top h2 {
    font-size: 2rem;
}

.planning .row-bottom h2 {
    font-size: 1.5rem;
}

.testimonials .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.testimonials .text h3 {
    font-weight: 500;
    font-size: 1rem;
}

.testimonials .text h2 {
    font-size: 2rem;
    color: var(--myViolet)
}

.testimonials .text p {
    font-size: 1.2rem;
}

.testimonial.card {
    border-radius: 40px;
    background-color: var(--myViolet);
    color: white;
    padding-bottom: 2em;
}

.testimonial.card blockquote {
    font-size: 1.2rem;
    margin-bottom: 1.5em;
}

.testimonial.card .name {
    font-size: 1.3rem;
    font-weight: bold;
}

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

blockquote:before,
blockquote:after {
    display: inline-block;
    vertical-align: bottom;
    font-size: 4em;
    top: .2em;
    position: relative;
}

.testimonial.card figure {
    min-width: 250px;
    min-height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

.testimonial.card:nth-of-type(2) figure {
    background-image: url("../img/testimonial1.jpg");
}

.testimonial.card:nth-of-type(3) figure {
    background-image: url("../img/testimonial2.jpg");
}

.testimonial.card:nth-of-type(4) figure {
    background-image: url("../img/testimonial3.jpg");
}

#benefits {
    background-color: var(--myViolet);
}

#benefits .container {
    padding-block: 4em;
    row-gap: 2.2em;
}

#benefits .card-container2 {
    display: flex;
    flex-direction: column;
    row-gap: 2.2em;
}


#benefits .container>h2 {
    color: white;
    font-size: 2.1rem;
    line-height: 140%;
    text-align: center;
    margin-bottom: 1em;
}


.benefit-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em;
    border-radius: 30px;
}

.benefit-card h2,
.benefit-card h3 {
    color: var(--myViolet)
}

.benefit-card h2 {
    font-size: 3.2rem;
}

.benefit-card h3 {
    font-size: 1.6rem;
}

.benefit-card p {
    color: #737373;
    font-size: 1.1rem;
    line-height: 180%;
}

.benefit-card a,
#about-us .container a {
    background-color: var(--myViolet);
    width: fit-content;
    padding-inline: 4em;
    padding-block: 1em;
    border-radius: 30px;
    font-weight: bold;
    letter-spacing: 0.2em;
}

#about-us .container {
    row-gap: 3.5em;
}



.frank img {
    clip-path: circle(50%);
}

.frank-img {
    width: 60%;
    position: relative;
}

.frank .fa-quote-left {
    color: var(--myViolet);
    font-size: 17vw;
    position: absolute;
    top: 0em;
    right: -0.2em;

}


#about-us .container h2 {
    font-size: 3.2rem;
    color: var(--myViolet);
}

#about-us .container h3 {
    font-size: 1.8rem;
    color: var(--myViolet);
    font-weight: 800;
}

#about-us .container p {
    font-size: 1.2rem;
    line-height: 200%;
}

#about-us .text-container {
    display: flex;
    gap: 3.5em;
    flex-direction: column;
}

#about-us .container a {
    padding-inline: 1em;
    padding-block: 0.5em;
    letter-spacing: normal;
    font-weight: 500;
    font-size: 1.1rem;
}

.fa-linkedin {
    margin-right: 0.5em;
}

.frank {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

#get-started {
    background-color: var(--myViolet);
    color: white;
}

#get-started .container {
    text-align: center;
    padding-block: 4em;
    row-gap: 2em;
}

#get-started .container h4 {
    Opacity: 0.7;
    letter-spacing: 0.2em;
    font-weight: 300;
}

#get-started .container h3 {
    color: white;
    font-size: 2rem;
}

#get-started .container h2 {
    color: #fdc15f;
    font-size: clamp(3.5rem, 7vw, 15rem);
}

#get-started a {
    color: var(--myViolet);
    background-color: white;
    width: fit-content;
    font-size: 1.1rem;
    padding-inline: 4em;
    padding-block: 1em;
    border-radius: 30px;
    margin: 0 auto;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.copyright ul {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: center;
    gap: 0.5em;
}


.copyright li:last-child {
    text-decoration: underline;
}

footer {
    background-color: #333333;
    color: white;
    margin-top: -2em;
    margin-bottom: -2em;
}

footer .container {
    gap: 5em;
}

footer p {
    font-size: 0.9rem;
    text-align: center;
    line-height: 110%;
}

footer a {
    text-decoration: underline;
    color: #9792e4;
}



/* MEDIA QUERY */

@media screen and (min-width: 768px) {
    .features .container {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2em;
    }



    .card.big {
        width: calc((100% * 2 / 3) - (1em * 2 / 3));
    }


    .card:not(.big) {
        width: calc((100% / 3) - (2em * 2 / 3))
    }

    .planning .row-top h2 {
        font-size: 3.5rem;
    }

    .testimonial.card {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        gap: 3em;
    }

    .testimonial.card figure {
        flex-basis: 30%;
        border-radius: 50%;
    }

    .testimonial.card .quote {
        flex-basis: 70%;
        text-align: left;
    }

    #benefits .card-container2 {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
    }


    .benefit-card {
        width: calc((100% / 2) - 1em);
    }

    #about-us .container {
        row-gap: 3.5em;
        flex-direction: row;
        column-gap: 3em;
    }

    #about-us .text-container {
        width: 60%;
    }

    #about-us .frank {
        width: 40%;
    }

    .frank .fa-quote-left {
        font-size: 9vw;
        right: -0.1em;
    }

    .frank-img {
        width: 90%;
    }

    #get-started p {
        font-size: 1.2rem;
        max-width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1025px) {


    .container {
        width: 60%;
        margin: 2em auto;
    }

    .header-container {
        width: 60%;
        margin: 0 auto;
    }


    .card.big {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .card.big a {
        text-align: center;
        align-self: flex-start;
    }

    .card.big figure {
        align-self: flex-end;
        padding-right: 2.5em;
    }


    .card p {
        font-size: 1.3rem;
    }

    .card.big .text p {
        width: 80%;
    }


    .card h2 {
        font-size: 2rem;
    }

    .card a,
    nav a {
        font-size: 1.3rem;
    }

    nav div {
        display: none;
    }

    nav ul {
        display: flex;
        gap: 1em;
    }

    .planning .container {
        flex-direction: row;
        column-gap: 5em;
        padding-top: 10em;
        padding-bottom: 5em;
        justify-content: center;
    }

    .planning .row-top p {
        font-size: 1.2rem;
    }

    .planning .row-bottom p {
        font-size: 1.3rem;
    }

    .planning .row-bottom {
        align-self: flex-end;
        flex-basis: 35%;
        padding-top: 2em;
        padding-bottom: 3.5em;
    }

    .planning .row-top {
        flex-basis: 40%;
        text-align: left;
    }

    .planning .row-top img {
        padding-bottom: 7em;
    }

    .planning .row-top h2 {
        font-size: 2.5rem;
    }

    .planning .row-bottom h2 {
        font-size: 1.8rem;
    }

    .planning .row-bottom img {
        max-width: 70%;
    }

    .planning .row-bottom>div {
        transform: scale(1.3);
    }

    .testimonial.card figure {
        flex-basis: 19%;
        border-radius: 100%;
    }

    #benefits .container>h2 {
        font-size: 3.5rem;
        border: 1px solid lime;
    }

    .card-container2 {
        border: 1px solid purple;
    }

    .benefit-card {
        width: calc((100% / 3) - (2em * 2 / 3));
    }

    #about-us .container {
        justify-content: space-between;
        padding-inline: 3em;
    }

    .frank {
        flex-basis: 25%;
    }

    .frank-img {
        width: 100%;
    }

    .frank-img .fa-quote-left {
        font-size: 4vw;
    }

    #about-us .text-container {
        flex-basis: 70%;
    }

    #about-us .text-container h2 {
        font-size: 5rem;
    }

    #about-us .text-container p {
        font-size: 1.5rem;
    }



}